* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: url("images/stopwatch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  color: white;
  position: relative;
}
body::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  top: 0;
  height: 100vh;
}
main {
  position: relative;
  z-index: 1000;
  padding: 3rem;
  padding-top: 8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  gap: 3rem;
}
button {
  width: 5rem;
  height: 2rem;
  border: 2px solid white;
  border-radius: 50px;
  background: #202020;
  color: white;
  cursor: pointer;
  outline: none;
  box-shadow: 6px 6px 3px #aaaaaa;
}
#stopwatch {
  font-size: 5rem;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#buttons li {
  list-style: none;
  /* line-height: 3rem;     */
  display: inline;
}

.lap-box {
  border: 0.5px solid white;

  overflow-y: scroll;
  width: 25rem;
  max-height: 10rem;
  box-shadow: 2px 3px 3px #aaaaaa;
}
.lap-box p {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.lap-box > div {
  margin: 1rem;
}

@media screen and (max-width: 520px) {
  #stopwatch {
    font-size: 3rem;
    width: 100%;
  }
  .lap-box {
    width: 100%;
  }
  #buttons {
    width: 100%;
  }
}
